#if 'nat' in $rules
*nat
:PREROUTING ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
#for chain in $rules.nat
#if $chain not in [ 'PREROUTING', 'POSTROUTING', 'OUTPUT']
:$chain - [0:0]
#end if
#end for

# START OF GENERATED RULES
#for chain in $rules.nat
#for rule in $rules.nat[$chain]
-A $chain $rule
#end for
#end for
COMMIT
# END OF GENERATED RULES

#end if

#if 'filter' in $rules
*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
#for chain in $rules.filter
#if $chain not in [ 'INPUT', 'FORWARD', 'OUPUT' ]
:$chain - [0:0]
#end if
#end for

-A INPUT -i lo -j ACCEPT 
-A INPUT -p icmp -m icmp --icmp-type any -j ACCEPT 
-A INPUT -p esp -j ACCEPT 
-A INPUT -p ah -j ACCEPT 
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

# START OF GENERATED RULES
#for chain in $rules.filter
#for rule in $rules.filter[$chain]
-A $chain $rule 
#end for
#end for
# END OF GENERATED RULES

# Ignore broadcast and multicast traffic so that we don't
# clutter our firewall logs with junk.
-A INPUT -m pkttype --pkt-type multicast -j DROP
-A INPUT -m pkttype --pkt-type broadcast -j DROP
-A INPUT -j LOG -m limit --limit 1/s
-A INPUT -j REJECT --reject-with icmp-host-prohibited 
COMMIT
#end if

